# Clang 16.0.0 / default
build:clang --crosstool_top=//toolchain:clang_suite
build:clang --cpu=amd64
build:clang --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:clang --@rules_cuda//cuda:copts='-allow-unsupported-compiler'

build:cuda --@rules_cuda//cuda:copts='-allow-unsupported-compiler'