# GCC / default
build:gcc --crosstool_top=//toolchain:gcc_suite
build:gcc --cpu=amd64
build:gcc --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:gcc --@rules_cuda//cuda:archs=compute_75:compute_75,sm_75